<%- include("../includes/header.ejs") %>
<body>
  <section class="auth-form">
    <h1 class="title">Reset your password</h1>
    <form action="/auth/reset-password" method="POST">
      <% if(errorMessage.length > 0) { %>
      <span class="errorMessage"><%= errorMessage[0] %></span>
      <% }%>

      <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
      <input type="hidden" value="<%= userId %>" name="userId" />
      <input type="hidden" value="<%= token %>" name="token" />

      <div>
        <label for="password">New Password</label>
        <input type="password" id="password" name="password" required />
      </div>

      <div>
        <label for="confirm_password">Confirm Password</label>
        <input
          type="password"
          id="confirm_password"
          name="confPassword"
          required
        />
      </div>
      <button>Reset Password</button>
    </form>
  </section>
</body>
<%- include("../includes/footer.ejs") %>
