<%- include("../includes/header.ejs") %>
<body>
  <section class="auth-form">
    <h1 class="title">Register</h1>
    <div class="form-design">
      <% if(errorMessage.length > 0) { %>
      <span class="errorMessage"><%= errorMessage %></span>
      <% }%>

      <form action="/auth/register" method="POST">
        <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
        <div>
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            required
            value="<%= `${locals?.oldFormData ? oldFormData?.username : ''}` %>"
          />
        </div>
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            value="<%= `${locals?.oldFormData ? oldFormData?.email : ''}` %>"
            required
          />
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button>Register</button>
      </form>
      <div class="form-action">
        <a href="/auth/login">login</a>
        <a href="/">Go back home</a>
      </div>
    </div>
  </section>
</body>
<%- include("../includes/footer.ejs") %>
