<%- include("./includes/header.ejs") %>
<body>
  <section class="auth-form">
    <h1 class="title">Add a new post here!</h1>
    <div class="form-design">
      <% if(errorMessage.length > 0) { %>
      <span class="errorMessage"><%= errorMessage %></span>
      <% } %>
      <form action="/admin" method="POST" enctype="multipart/form-data">
        <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
        <div>
          <label for="title">Enter title</label>
          <input
            type="text"
            id="title"
            name="title"
            required
            value="<%= `${locals?.oldFormData ? oldFormData?.title : ''}` %>"
          />
        </div>
        <div>
          <label for="photo">Enter photo</label>
          <input type="file" id="photo" name="imgUrl" required />
        </div>
        <div>
          <label for="description">Enter description</label>
          <textarea name="description" id="description" cols="30" rows="10">
<%= `${locals?.oldFormData ? oldFormData?.description : ''}` %></textarea
          >
        </div>
        <button>Add Post</button>
      </form>
      <div class="form-action">
        <a href="/">Go back home</a>
      </div>
    </div>
  </section>
</body>
<%- include("./includes/footer.ejs") %>
