<%- include("./includes/header.ejs") %>
<body>
  <section class="auth-form">
    <h1 class="title">Update post here!</h1>
    <div class="form-design">
      <% if(errorMessage.length > 0) { %>
      <span class="errorMessage"><%= errorMessage %></span>
      <% } %>
      <form action="/admin/edit/<%= post._id %>" method="POST">
        <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
        <input type="hidden" value="<%= post._id %>" name="_id" />
        <div>
          <label for="title">Enter title</label>
          <input
            type="text"
            id="title"
            name="title"
            value="<%= `${locals?.oldFormData ? oldFormData?.title : post.title}` %>"
            required
          />
        </div>
        <div>
          <label for="photo">Enter photo</label>
          <input
            type="text"
            id="photo"
            name="imgUrl"
            value="<%=    `${locals?.oldFormData ? oldFormData?.imgUrl : post.imgUrl}` %>"
            required
          />
        </div>
        <div>
          <label for="description">Enter description</label>
          <textarea name="description" id="description" cols="30" rows="10">
<%= `${locals?.oldFormData ? oldFormData?.description : post.description}`  %></textarea
          >
        </div>
        <button>Update Post</button>
      </form>
    </div>
  </section>
</body>
<%- include("./includes/footer.ejs") %>
