<%- include("./includes/header.ejs") %>
<body>
  <h1 class="title">HomePage</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dignissimos
    veniam pariatur autem. Maxime velit eos sint. Tempore quam cumque optio
    laborum dolore commodi cum dolorem deleniti soluta, ea nemo.
  </p>
  <% if(isLogin) { %>
  <a href="/admin/create-post">Add a new post</a>
  <a href="/auth/logout">Logout</a>
  <% }else { %>
  <a href="/auth/register">Create a new account</a>
  <a href="/auth/login">Login to your account</a>

  <% } %>
  <hr />
  <h2>Posts</h2>
  <% if(posts.length === 0) { %>
  <div class="create">
    <h4>Nothing to see ?</h4>
    <p>Create a new post now !!!</p>
    <a href="/admin/create-post">Create a new post</a>
  </div>
  <% } else { %> <% for(let post of posts) { %>
  <div class="box">
    <h2 class="post-title"><%= post.title %></h2>
    <p><%= post.userId.username %></p>
    <a class="btn" href="/post/<%= post._id %>">See More...</a>
  </div>

  <% } %> <% } %>
</body>
<%- include("./includes/footer.ejs") %>
