<%- include("../includes/header.ejs") %>
<body>
  <%- include("../includes/nav.ejs") %>
  <section class="auth-form">
    <h1 class="title">Set Your Profile Picture</h1>
    <div class="form-design">
      <% if(errorMessage.length > 0) { %>
      <span class="errorMessage"><%= errorMessage %></span>
      <% }%>
      <form
        action="/admin/update-profile-picture"
        method="POST"
        enctype="multipart/form-data"
      >
        <input type="hidden" value="<%= csrfToken %>" name="_csrf" />

        <div>
          <label for="text">Set Profile Picture</label>
          <input type="file" id="text" name="imgUrl" required />
        </div>
        <button>Submit</button>
      </form>
    </div>
  </section>
</body>
<%- include("../includes/footer.ejs") %>
